.barraNavegacion {
    font-family: 'Cormorant Garamond', sans-serif;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(241, 241, 236, 0.92);
    webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    margin-bottom: 1rem;
    line-height: 2rem;
}



.navbar-item {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 1rem;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

