.contenedorContacto {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.textoContacto {
    padding-top: 2rem;
}

.formularioContacto {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    margin: 1rem;
    border: 0.2rem solid rgba(241, 241, 236, 0.92);
    border-radius: 1rem;
}

.botonEnvio {
    display: flex;
    align-content: center;
    flex-direction: column;
}