* {
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', sans-serif;
  overflow-x: hidden;
}


body {
  background-color: white;
  margin: 0;
  font-family: 'Cormorant Garamond', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.holder {
  max-width: 1400px;
  min-width: 375px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

* a {
  text-decoration: none;
  color: black;
}
* a:hover {
  color: grey;
}

code {
  font-family: 'Cormorant Garamond', sans-serif;
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  cursor: pointer;
}

