.contenedorPrincipalHome {
    display: flex;
    justify-content: center;
    align-items: center;
}



.homeImage {
    image-resolution: inherit;
}

.contenedorHome2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;

}
.contenedorImagenes {
    display: flex;
    justify-content: center;
}