.contenedorPrincipalHome {
    display: flex;
    justify-content: center;
    align-items: center;
}



.homeImage {
    image-resolution: inherit;
}

.contenedorHome1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorHome2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;

}
.contenedorImagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}